<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>200000</particles>
  <batches>5</batches>
  <inactive>0</inactive>
  <state_point>
    <batches>100</batches>
  </state_point>
  <source strength="1.0">
    <space type="fission">
      <parameters>-0.6 -20.7 100 20.7 0.6 100</parameters>
    </space>
  </source>
  <output>
    <summary>false</summary>
    <tallies>false</tallies>
  </output>
</settings>
