<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>30</particles>
  <batches>5</batches>
  <inactive>1</inactive>
  <source strength="1.0">
    <space type="box">
      <parameters>-0.62992 -0.62992 -0.62992 0.62992 0.62992 0.62992</parameters>
    </space>
  </source>
  <state_point>
    <batches>200</batches>
  </state_point>
  <output>
    <summary>false</summary>
    <tallies>false</tallies>
  </output>
  <!-- <verbosity>10</verbosity> -->
</settings>
